{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
{% endblock %}

{% block content %}
    <div id="app-visualizer">
        <!-- Navbar -->
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <h1 class="navbar-brand">Decide</h1>
            </div>
        </nav>
          

        <div class="voting container">
            <h1>[[ voting.id ]] - [[ voting.name ]]</h1>

            <h2 v-if="!voting.start_date">Votación no comenzada</h2>
            <h2 v-else-if="!voting.end_date">Votación en curso</h2>
            <div v-else>
                <h2 class="heading">Resultados:</h2>

                <div v-if="voting.question.type === 'single_choice'">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Opción</th>
                                <th>Puntuación</th>
                                <th>Votos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="opt in voting.postproc" :key="opt.number">
                                <th>[[opt.option]]</th>
                                <td>[[opt.postproc]]</td>
                                <td class="text-muted">[[opt.votes]]</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div v-if="voting.question.type === 'open_response'">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Opción</th>
                                <th>Votos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="opt in voting.postproc" :key="opt.option">
                                <th>[[opt.option]]</th>
                                <td>[[opt.votes]]</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div v-if="voting.question.type === 'multiple_choice'">
                    <!-- Tabla de resultados -->
                    <table id="votingTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Opción</th>
                                <th>Puntuación</th>
                                <th>Votos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="opt in voting.postproc" :key="opt.number">
                                <th>[[opt.option]]</th>
                                <td>[[opt.postproc]]</td>
                                <td class="text-muted">[[opt.votes]]</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Gráfico de resultados -->
                    <div class="chart-container" style="max-width: 1400px; margin: auto;">
                        <canvas id="votingChart"></canvas>
                    </div>
                </div>
                <div v-if="voting.question.type === 'points_options'">
                    <!-- Tabla de resultados -->
                    <table id="votingTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Opción</th>
                                <th>Puntuación</th>
                                <th>Votos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="opt in voting.postproc" :key="opt.number">
                                <th>[[opt.option]]</th>
                                <td>[[opt.postproc]]</td>
                                <td class="text-muted">[[opt.votes]]</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Gráfico de resultados -->
                    <div class="chart-container" style="max-width: 1400px; margin: auto;">
                        <canvas id="votingChart"></canvas>
                    </div>

                </div>
                
            </div>

        </div>
    </div>
{% endblock %}

{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap@5.2.2/dist/js/bootstrap.js"></script>
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var voting = {{ voting|safe }};
            const { createApp } = Vue;

            createApp({
                delimiters: ['[[', ']]'],
                data() {
                    return {
                        voting: voting
                    };
                },
                mounted() {
                    this.createChart();
                },
                methods: {
                    createChart() {
                        const ctx = document.getElementById('votingChart').getContext('2d');
                        const chart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: this.voting.postproc.map(opt => opt.option),
                                datasets: [{
                                    label: 'Votos',
                                    data: this.voting.postproc.map(opt => opt.votes),
                                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                    borderColor: 'rgba(75, 192, 192, 1)',
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                responsive: true,
                                maintainAspectRatio: false,
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        });
                    }
                }
            }).mount('#app-visualizer');
        });
    </script>
</body>
{% endblock %}
