{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
{% endblock %}

{% block content %}
<style>
    /*-----ESTILO-----*/
    body{
        background: #e9ecee;
        transition: .5s ease all;
    }

    body.dark{
        background-color: #111111;
        color: #f1f1f1;
    }

    body.grey{
        filter: grayscale(100%);
    }

    body.yellow{
        background-color: #111111;
        color: rgb(255, 255, 27);
    }

    /* Hacemos uso de !important para indicar
    *  que estos estilos deben prevalecer
    *  sobre otros estilos que puedan aplicarse.
    */
    .container nav{
        background-color: rgb(28, 136, 185) !important;  
    }

    h1{
        text-align: center !important;
    }

    h2{
        text-align: center !important;
        background-color: rgb(28, 136, 185);  
        color: #f1f1f1;
    }

    table thead{
        background-color: rgb(6, 70, 99);  
        color: #f1f1f1;
    }

    table tbody{
        background-color: rgb(192, 221, 235);  
        color: #f1f1f1;
    }

     body.dark h1{
        color: #f1f1f1;
    }

    body.dark h2{
        color: #f1f1f1;
    }

    body.yellow h1{
        color: rgb(255, 255, 27);
    }

    body.yellow h2{
        color: rgb(255, 255, 27);
    }

    body.yellow table thead{
        background-color: rgb(255, 255, 27);
        color: black;
    }

    body.yellow table tbody tr td{
        background-color: rgb(6, 70, 99);  
        color: rgb(255, 255, 27) !important;
    }

    body.yellow table tbody tr th{
        background-color: rgb(6, 70, 99);  
        color: rgb(255, 255, 27) !important;
    }

    table tbody{
        background-color: rgb(192, 221, 235);  
        color: black;
    }

    .accesibilidad{
        margin-left: 1%;
        margin-top: 1%;
        display: none;
    }
    
    
    /*-----ACCESIBILIDAD BOTÓN NOCHE -----*/

    .switch{
        background: #303955;
        border-radius: 1000px;
        border: none;
        position: relative;
        cursor: pointer;
        display: flex;
        outline: none;
        margin-left: 4%;
        margin-bottom: 1%;
    }

    .switch::after{
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        background: #f1f1f1;
        top: 0;
        left: 0;
        right: unset;
        border-radius: 100px;
        transition: .3s ease all;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    }

    .switch.active{
        background: rgb(255, 169, 8);
        color: #000;
    }

    .switch.active::after{
        right: 0;
        left: unset;
    }

    .switch span{
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        background: none;
        color: #fff;
    }


    /*-----Gray Button-----*/

    .switch2{
        background: #353e5c;
        border-radius: 1000px;
        border: none;
        position: relative;
        cursor: pointer;
        display: flex;
        outline: none;
        margin-left: 4%;
        margin-bottom: 1%;
    }

    .switch2::after{
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        background: #f1f1f1;
        top: 0;
        left: 0;
        right: unset;
        border-radius: 100px;
        transition: .3s ease all;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    }

    .switch2.active{
        background: rgb(255, 169, 8);
        color: #000;
    }

    .switch2.active::after{
        right: 0;
        left: unset;
    }

    .switch2 span{
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        background: none;
        color: #fff;
    }


    /*-----Yellow Button-----*/

    .switch3{
        background: #303853;
        border-radius: 1000px;
        border: none;
        position: relative;
        cursor: pointer;
        display: flex;
        outline: none;
        margin-left: 4%;
        margin-bottom: 1%;
    }

    .switch3::after{
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        background: #eeeded;
        top: 0;
        left: 0;
        right: unset;
        border-radius: 100px;
        transition: .3s ease all;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    }

    .switch3.active{
        background: rgb(255, 169, 8);
        color: #000;
    }

    .switch3.active::after{
        right: 0;
        left: unset;
    }

    .switch3 span{
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        background: none;
        color: #fff;
    }


    /*-----Botón deslizante-----*/
    .size-slider{
        width: 95%;
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .size-slider2{
        width: 95%;
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 20px;
    }
 </style>

<script>
   function increase() {
       document.getElementById("app-visualizer").style.fontSize = document.getElementById("value").value + 'px';
   }

   function increase2() {
       document.getElementById("holder").style.lineHeight = document.getElementById("value2").value /10 ;
    }
</script>

<script>
    function myFunction() {
        document.body.classList.toggle('dark');
        document.getElementById("switch").classList.toggle('active');  
    }   

    function myFunction2() {
        document.body.classList.toggle('grey');
        document.getElementById("switch2").classList.toggle('active');
    }

    function myFunction3() {
        document.body.classList.toggle('yellow');
        document.getElementById("switch3").classList.toggle('active');
    }   
</script>

<script> 
    function show(){
        document.getElementById("acc").style.display= "block";
    }

    function hide(){
        document.getElementById("acc").style.display= "none";
    }

    function both(){
        var  acc=  document.getElementById("acc");
        if(acc.style.display == "none"){
            show();
            document.getElementById("acc").value= "Mostrar opciones de accesibilidad";
        }else{
            hide();
            document.getElementById("acc").value= "Ocultar opciones de accesibilidad";
        }
    }
</script>

<button class="btn btn-primary" id="boton" onclick="both();
" style="margin-top: 1%; margin-left:2%;margin-bottom:1%;">Opciones de accesibilidad</button>
<div class="accesibilidad" id="acc">
        <h3 style="margin-left: 1.5%;">Accesibilidad</h3>

        <p  style="margin-left: 2%;">Tamaño de fuente</p> 
        <div class="size-slider">
            <input type="range" id="value" min="15" max = "35" value = "15" onchange="increase()"/>
        </div>

        <p  style="margin-left: 2%;">Espacio entre líneas</p> 
        <div class="size-slider2">
            <input type="range" id="value2" min="15" max = "35" onchange="increase2()"/>
        </div>

        <p  style="margin-left: 2%;">Modo oscuro</p>
        <button class="switch" id="switch" onclick="myFunction()">
            <span> <i class = "far fa-sun"></i></span>
            <span> <i class = "far fa-moon"></i></span>
        </button>

        <p  style="margin-left: 2%;">Modo paleta de grises</p>
        <button class="switch2" id="switch2" onclick="myFunction2()">
            <span> <i class = "far fa-sun"></i></span>
            <span> <i class = "far fa-moon"></i></span>
        </button>

        <p  style="margin-left: 2%;">Modo de alto contraste</p>
        <button class="switch3" id="switch3" onclick="myFunction3()">
            <span> <i class = "far fa-sun"></i></span>
            <span> <i class = "far fa-moon"></i></span>
        </button>
</div>
<div class="container">

    <div id="app-visualizer">
        <!-- Navbar -->
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <h1 class="navbar-brand">Decide</h1>
            </div>
        </nav>

        <div class="voting container">
            <h1>[[ voting.id ]] - [[ voting.name ]]</h1>

            <h2 v-if="!voting.start_date">Votación no comenzada</h2>
            <h2 v-else-if="!voting.end_date">Votación en curso</h2>
            <div v-else>
                <h2 class="heading">Resultados:</h2>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Opción</th>
                            <th>Puntuación</th>
                            <th>Votos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="opt in voting.postproc" :key="opt.number">
                            <th>[[opt.option]]</th>
                            <td>[[opt.postproc]]</td>
                            <td class="text-muted">[[opt.votes]]</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div>
            <a href="es">
                <b-button type="button" style="margin-top: 10px" variant="primary">
                    Traducir a español
                </b-button>
            </a>
        </div>

        <div>
            <a href="de">
                <b-button type="button" style="margin-top: 10px" variant="primary">
                    Traducir a alemán
                </b-button>
            </a>
        </div>

        <div>
            <a href="en">
                <b-button type="button" style="margin-top: 10px" variant="primary">
                    Traducir a inglés
                </b-button>
            </a>
        </div>
    </div>
{% endblock %}

{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://unpkg.com/bootstrap@5.2.2/dist/js/bootstrap.js"></script>


    <script>
        var voting = {{voting|safe}};
        const { createApp } = Vue
        createApp({
            delimiters: ['[[', ']]'],
            data() {
                return {
                    voting: voting
                }
            }
        }).mount('#app-visualizer')
    </script>
</body>
{% endblock %}