<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Voting</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Crea una Votación</h1>
        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="form-group">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>
            <div class="form-group">
                {{ form.desc.label_tag }}
                {{ form.desc }}
            </div>
            <div class="form-group">
                {{ form.question.label_tag }}
                {{ form.question }}
            </div>
            <div class="form-group">
                {{ form.auths.label_tag }}
                {{ form.auths }}
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</body>
</html>
